In [54]:
import pandas as pd
df = pd.read_csv("data/temfile.csv")
print(df)

           City country_id      Country Latitude Longitude
0      Auckland        NEW  New Zealand   36.17S   175.03E
1      Auckland        NEW  New Zealand   36.17S   175.03E
2      Auckland        NEW  New Zealand   36.17S   175.03E
3      Auckland        NEW  New Zealand   36.17S   175.03E
4      Auckland        NEW  New Zealand   36.17S   175.03E
...         ...        ...          ...      ...       ...
48465   Wroclaw        POL       Poland   50.63N    16.48E
48466   Wroclaw        POL       Poland   50.63N    16.48E
48467   Wroclaw        POL       Poland   50.63N    16.48E
48468   Wroclaw        POL       Poland   50.63N    16.48E
48469   Wroclaw        POL       Poland   50.63N    16.48E

[48470 rows x 5 columns]

In [55]:
df.head()

       City country_id      Country Latitude Longitude
0  Auckland        NEW  New Zealand   36.17S   175.03E
1  Auckland        NEW  New Zealand   36.17S   175.03E
2  Auckland        NEW  New Zealand   36.17S   175.03E
3  Auckland        NEW  New Zealand   36.17S   175.03E
4  Auckland        NEW  New Zealand   36.17S   175.03E

In [56]:
df.tail()

          City country_id Country Latitude Longitude
48465  Wroclaw        POL  Poland   50.63N    16.48E
48466  Wroclaw        POL  Poland   50.63N    16.48E
48467  Wroclaw        POL  Poland   50.63N    16.48E
48468  Wroclaw        POL  Poland   50.63N    16.48E
48469  Wroclaw        POL  Poland   50.63N    16.48E

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
labelencoder=LabelEncoder()

In [69]:
df = df.dropna()
df = df.drop_duplicates()
df

               City country_id       Country Latitude Longitude  citycat
0          Auckland        NEW   New Zealand   36.17S   175.03E        0
1929       Brasília        BRA        Brazil   15.27S    47.50W        1
4110         Canoas        BRA        Brazil   29.74S    51.69W        2
6291      Cape Town        SOU  South Africa   32.95S    18.19E        3
8172       Hamilton        NEW   New Zealand   37.78S   174.92E        4
10101  Johannesburg        SOU  South Africa   26.52S    28.66E        5
11982       Kherson        UKR       Ukraine   47.42N    31.97E        6
15221          Kiev        UKR       Ukraine   50.63N    31.69E        7
18460          Lvov        UKR       Ukraine   50.63N    24.08E        8
21699     Marseille        FRA        France   42.59N     6.55E        9
24938         Odesa        UKR       Ukraine   45.81N    31.15E       10
28177         Paris        FRA        France   49.03N     2.45E       11
31416     Stockholm        SWE        Sweden   58.66N    18.46E       12
34655         Tokyo        JAP         Japan   36.17N   139.23E       13
36680       Tottori        JAP         Japan   34.56N   134.27E       14
38753       Uppsala        SWE        Sweden   60.27N    16.22E       15
41992        Warsaw        POL        Poland   52.24N    21.02E       16
45231       Wroclaw        POL        Poland   50.63N    16.48E       17

In [70]:
df['citycat']=labelencoder.fit_transform(df['City'].astype(str))
df

               City country_id       Country Latitude Longitude  citycat
0          Auckland        NEW   New Zealand   36.17S   175.03E        0
1929       Brasília        BRA        Brazil   15.27S    47.50W        1
4110         Canoas        BRA        Brazil   29.74S    51.69W        2
6291      Cape Town        SOU  South Africa   32.95S    18.19E        3
8172       Hamilton        NEW   New Zealand   37.78S   174.92E        4
10101  Johannesburg        SOU  South Africa   26.52S    28.66E        5
11982       Kherson        UKR       Ukraine   47.42N    31.97E        6
15221          Kiev        UKR       Ukraine   50.63N    31.69E        7
18460          Lvov        UKR       Ukraine   50.63N    24.08E        8
21699     Marseille        FRA        France   42.59N     6.55E        9
24938         Odesa        UKR       Ukraine   45.81N    31.15E       10
28177         Paris        FRA        France   49.03N     2.45E       11
31416     Stockholm        SWE        Sweden   58.66N    18.46E       12
34655         Tokyo        JAP         Japan   36.17N   139.23E       13
36680       Tottori        JAP         Japan   34.56N   134.27E       14
38753       Uppsala        SWE        Sweden   60.27N    16.22E       15
41992        Warsaw        POL        Poland   52.24N    21.02E       16
45231       Wroclaw        POL        Poland   50.63N    16.48E       17

In [71]:
from sklearn.preprocessing import OneHotEncoder

In [72]:
onehot = OneHotEncoder()

In [73]:
df1 = pd.read_csv("data/temfile.csv")

In [75]:
df1 = df1.dropna()
res = onehot.fit_transform(df1[['City']])
print(res)

  (0, 0)	1.0
  (1, 0)	1.0
  (2, 0)	1.0
  (3, 0)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 0)	1.0
  (7, 0)	1.0
  (8, 0)	1.0
  (9, 0)	1.0
  (10, 0)	1.0
  (11, 0)	1.0
  (12, 0)	1.0
  (13, 0)	1.0
  (14, 0)	1.0
  (15, 0)	1.0
  (16, 0)	1.0
  (17, 0)	1.0
  (18, 0)	1.0
  (19, 0)	1.0
  (20, 0)	1.0
  (21, 0)	1.0
  (22, 0)	1.0
  (23, 0)	1.0
  (24, 0)	1.0
  :	:
  (47961, 17)	1.0
  (47962, 17)	1.0
  (47963, 17)	1.0
  (47964, 17)	1.0
  (47965, 17)	1.0
  (47966, 17)	1.0
  (47967, 17)	1.0
  (47968, 17)	1.0
  (47969, 17)	1.0
  (47970, 17)	1.0
  (47971, 17)	1.0
  (47972, 17)	1.0
  (47973, 17)	1.0
  (47974, 17)	1.0
  (47975, 17)	1.0
  (47976, 17)	1.0
  (47977, 17)	1.0
  (47978, 17)	1.0
  (47979, 17)	1.0
  (47980, 17)	1.0
  (47981, 17)	1.0
  (47982, 17)	1.0
  (47983, 17)	1.0
  (47984, 17)	1.0
  (47985, 17)	1.0

In [76]:
nf = df1.join(pd.DataFrame(res.toarray(),columns=onehot.categories_))
nf

,City,country_id,Country,Latitude,Longitude,"(Auckland,)","(Brasília,)","(Canoas,)","(Cape Town,)","(Hamilton,)",...,"(Lvov,)","(Marseille,)","(Odesa,)","(Paris,)","(Stockholm,)","(Tokyo,)","(Tottori,)","(Uppsala,)","(Warsaw,)","(Wroclaw,)"
0,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48465,Wroclaw,POL,Poland,50.63N,16.48E,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48466,Wroclaw,POL,Poland,50.63N,16.48E,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48467,Wroclaw,POL,Poland,50.63N,16.48E,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48468,Wroclaw,POL,Poland,50.63N,16.48E,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48469,Wroclaw,POL,Poland,50.63N,16.48E,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
nf = nf.dropna()
nf

,City,country_id,Country,Latitude,Longitude,"(Auckland,)","(Brasília,)","(Canoas,)","(Cape Town,)","(Hamilton,)",...,"(Lvov,)","(Marseille,)","(Odesa,)","(Paris,)","(Stockholm,)","(Tokyo,)","(Tottori,)","(Uppsala,)","(Warsaw,)","(Wroclaw,)"
0,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47981,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47982,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47983,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47984,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47985,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [78]:
nf = nf.drop_duplicates()
nf

,City,country_id,Country,Latitude,Longitude,"(Auckland,)","(Brasília,)","(Canoas,)","(Cape Town,)","(Hamilton,)",...,"(Lvov,)","(Marseille,)","(Odesa,)","(Paris,)","(Stockholm,)","(Tokyo,)","(Tottori,)","(Uppsala,)","(Warsaw,)","(Wroclaw,)"
0,Auckland,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1912,Auckland,NEW,New Zealand,36.17S,175.03E,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1929,Brasília,BRA,Brazil,15.27S,47.50W,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4068,Brasília,BRA,Brazil,15.27S,47.50W,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4110,Canoas,BRA,Brazil,29.74S,51.69W,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6225,Canoas,BRA,Brazil,29.74S,51.69W,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6291,Cape Town,SOU,South Africa,32.95S,18.19E,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8091,Cape Town,SOU,South Africa,32.95S,18.19E,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8172,Hamilton,NEW,New Zealand,37.78S,174.92E,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10005,Hamilton,NEW,New Zealand,37.78S,174.92E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10101,Johannesburg,SOU,South Africa,26.52S,28.66E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11860,Johannesburg,SOU,South Africa,26.52S,28.66E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11982,Kherson,UKR,Ukraine,47.42N,31.97E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15069,Kherson,UKR,Ukraine,47.42N,31.97E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15221,Kiev,UKR,Ukraine,50.63N,31.69E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18277,Kiev,UKR,Ukraine,50.63N,31.69E,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18460,Lvov,UKR,Ukraine,50.63N,24.08E,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21484,Lvov,UKR,Ukraine,50.63N,24.08E,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21699,Marseille,FRA,France,42.59N,6.55E,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24686,Marseille,FRA,France,42.59N,6.55E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24938,Odesa,UKR,Ukraine,45.81N,31.15E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27900,Odesa,UKR,Ukraine,45.81N,31.15E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
28177,Paris,FRA,France,49.03N,2.45E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
31111,Paris,FRA,France,49.03N,2.45E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
31416,Stockholm,SWE,Sweden,58.66N,18.46E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34317,Stockholm,SWE,Sweden,58.66N,18.46E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34655,Tokyo,JAP,Japan,36.17N,139.23E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36318,Tokyo,JAP,Japan,36.17N,139.23E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
36680,Tottori,JAP,Japan,34.56N,134.27E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38374,Tottori,JAP,Japan,34.56N,134.27E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
38753,Uppsala,SWE,Sweden,60.27N,16.22E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
41575,Uppsala,SWE,Sweden,60.27N,16.22E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41992,Warsaw,POL,Poland,52.24N,21.02E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44778,Warsaw,POL,Poland,52.24N,21.02E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
45231,Wroclaw,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [80]:
nf = nf.drop(["City"], axis=1)
nf = nf.drop_duplicates()
nf

,country_id,Country,Latitude,Longitude,"(Auckland,)","(Brasília,)","(Canoas,)","(Cape Town,)","(Hamilton,)","(Johannesburg,)",...,"(Lvov,)","(Marseille,)","(Odesa,)","(Paris,)","(Stockholm,)","(Tokyo,)","(Tottori,)","(Uppsala,)","(Warsaw,)","(Wroclaw,)"
0,NEW,New Zealand,36.17S,175.03E,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1912,NEW,New Zealand,36.17S,175.03E,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1929,BRA,Brazil,15.27S,47.50W,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4068,BRA,Brazil,15.27S,47.50W,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4110,BRA,Brazil,29.74S,51.69W,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6225,BRA,Brazil,29.74S,51.69W,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6291,SOU,South Africa,32.95S,18.19E,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8091,SOU,South Africa,32.95S,18.19E,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8172,NEW,New Zealand,37.78S,174.92E,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10005,NEW,New Zealand,37.78S,174.92E,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10101,SOU,South Africa,26.52S,28.66E,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11860,SOU,South Africa,26.52S,28.66E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11982,UKR,Ukraine,47.42N,31.97E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15069,UKR,Ukraine,47.42N,31.97E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15221,UKR,Ukraine,50.63N,31.69E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18277,UKR,Ukraine,50.63N,31.69E,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18460,UKR,Ukraine,50.63N,24.08E,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21484,UKR,Ukraine,50.63N,24.08E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21699,FRA,France,42.59N,6.55E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24686,FRA,France,42.59N,6.55E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24938,UKR,Ukraine,45.81N,31.15E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27900,UKR,Ukraine,45.81N,31.15E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
28177,FRA,France,49.03N,2.45E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
31111,FRA,France,49.03N,2.45E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
31416,SWE,Sweden,58.66N,18.46E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34317,SWE,Sweden,58.66N,18.46E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34655,JAP,Japan,36.17N,139.23E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
36318,JAP,Japan,36.17N,139.23E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
36680,JAP,Japan,34.56N,134.27E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38374,JAP,Japan,34.56N,134.27E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
38753,SWE,Sweden,60.27N,16.22E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
41575,SWE,Sweden,60.27N,16.22E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41992,POL,Poland,52.24N,21.02E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
44778,POL,Poland,52.24N,21.02E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
45231,POL,Poland,50.63N,16.48E,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [110]:
ds = [['milk','eggs','bread'],['milk','bread'],['eggs','sugar'],['coffee','sugar'],['onion','coffee','carrot','icecream']]

In [111]:
from mlxtend.preprocessing import TransactionEncoder

In [112]:
encoder = TransactionEncoder().fit(ds)

In [113]:
onehot = encoder.transform(ds)

In [114]:
onehot=pd.DataFrame(onehot,columns=encoder.columns_)

In [115]:
import scipy.spatial as sp

In [117]:
jaccard=sp.distance.cdist(onehot,onehot,metric='jaccard')
jaccard

array([[0.        , 0.33333333, 0.75      , 1.        , 1.        ],
       [0.33333333, 0.        , 1.        , 1.        , 1.        ],
       [0.75      , 1.        , 0.        , 0.66666667, 1.        ],
       [1.        , 1.        , 0.66666667, 0.        , 0.8       ],
       [1.        , 1.        , 1.        , 0.8       , 0.        ]])

In [118]:
jac=pd.DataFrame(jaccard,columns=onehot.index.values,index=onehot.index.values)
jac

          0         1         2         3    4
0  0.000000  0.333333  0.750000  1.000000  1.0
1  0.333333  0.000000  1.000000  1.000000  1.0
2  0.750000  1.000000  0.000000  0.666667  1.0
3  1.000000  1.000000  0.666667  0.000000  0.8
4  1.000000  1.000000  1.000000  0.800000  0.0

1 close to 0, 2 close to 3, 4 close to 3

In [124]:
from scipy.spatial import distance
mink_dist0 = distance.minkowski(jac[0],3)
mink_dist1 = distance.minkowski(jac[1],3)
mink_dist2 = distance.minkowski(jac[2],3)
mink_dist3 = distance.minkowski(jac[3],3)
mink_dist4 = distance.minkowski(jac[4],3)
print(mink_dist0)
print(mink_dist1)
print(mink_dist2)
print(mink_dist3)
print(mink_dist4)

5.401260141032934
5.301991240195623
5.244706325853188
5.223451391986379
5.083306010855534

0 is closer to everyone compared to others