In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import BayesianRidge
from sklearn.preprocessing import PolynomialFeatures
import csv

Matplotlib is building the font cache; this may take a moment.
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [14]:
df = pd.read_csv("data/vehicles.csv")
df

        Unnamed: 0          id  ...        long              posting_date
0                0  7240372487  ...  -85.480000  2020-12-02T08:11:30-0600
1                1  7240309422  ...  -85.468200  2020-12-02T02:11:50-0600
2                2  7240224296  ...  -85.464149  2020-12-01T19:50:41-0600
3                3  7240103965  ...  -85.216100  2020-12-01T15:54:45-0600
4                4  7239983776  ...  -85.468200  2020-12-01T12:53:56-0600
...            ...         ...  ...         ...                       ...
458208      458208  7240959076  ...  -89.881210  2020-12-03T08:56:29-0600
458209      458209  7240954682  ...  -89.882240  2020-12-03T08:48:08-0600
458210      458210  7240645700  ... -106.964800  2020-12-02T14:09:45-0700
458211      458211  7240600465  ... -106.939600  2020-12-02T13:01:04-0700
458212      458212  7240562359  ...  -88.436954  2020-12-02T12:03:45-0700

[458213 rows x 26 columns]

In [15]:
df.head(100)

    Unnamed: 0          id  ...       long              posting_date
0            0  7240372487  ... -85.480000  2020-12-02T08:11:30-0600
1            1  7240309422  ... -85.468200  2020-12-02T02:11:50-0600
2            2  7240224296  ... -85.464149  2020-12-01T19:50:41-0600
3            3  7240103965  ... -85.216100  2020-12-01T15:54:45-0600
4            4  7239983776  ... -85.468200  2020-12-01T12:53:56-0600
..         ...         ...  ...        ...                       ...
95          95  7240566722  ... -85.358940  2020-12-02T13:10:29-0600
96          96  7240548971  ... -84.777782  2020-12-02T12:43:37-0600
97          97  7240543174  ... -84.777728  2020-12-02T12:34:57-0600
98          98  7240485219  ... -79.978983  2020-12-02T11:14:05-0600
99          99  7240483721  ... -86.806600  2020-12-02T11:12:05-0600

[100 rows x 26 columns]

In [16]:
df1 = df.dropna()
df1

        Unnamed: 0          id  ...        long              posting_date
19              19  7235942858  ...  -85.481615  2020-11-23T15:02:02-0600
91              91  7240569685  ...  -84.777696  2020-12-02T13:14:57-0600
92              92  7240567296  ...  -85.358940  2020-12-02T13:11:19-0600
93              93  7240566811  ...  -85.358940  2020-12-02T13:10:38-0600
95              95  7240566722  ...  -85.358940  2020-12-02T13:10:29-0600
...            ...         ...  ...         ...                       ...
458154      458154  7240979817  ...  -88.309457  2020-12-03T09:32:43-0600
458195      458195  7240981040  ...  -87.696800  2020-12-03T09:34:37-0600
458202      458202  7240989873  ...  -90.022076  2020-12-03T09:48:38-0600
458204      458204  7240975107  ...  -90.022076  2020-12-03T09:24:54-0600
458211      458211  7240600465  ... -106.939600  2020-12-02T13:01:04-0700

[42384 rows x 26 columns]

In [17]:
df2 = df1.drop_duplicates()
df2.drop(['Unnamed: 0'], axis=1, inplace=True)
df2

                id  ...              posting_date
19      7235942858  ...  2020-11-23T15:02:02-0600
91      7240569685  ...  2020-12-02T13:14:57-0600
92      7240567296  ...  2020-12-02T13:11:19-0600
93      7240566811  ...  2020-12-02T13:10:38-0600
95      7240566722  ...  2020-12-02T13:10:29-0600
...            ...  ...                       ...
458154  7240979817  ...  2020-12-03T09:32:43-0600
458195  7240981040  ...  2020-12-03T09:34:37-0600
458202  7240989873  ...  2020-12-03T09:48:38-0600
458204  7240975107  ...  2020-12-03T09:24:54-0600
458211  7240600465  ...  2020-12-02T13:01:04-0700

[42384 rows x 25 columns]

In [18]:
df2.to_csv(r'Data/vn.csv', index = False)

In [6]:
ndf = pd.read_csv("data/vn3.csv")
ndf

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,auburn,https://auburn.craigslist.org,47000,2020.0,jeep,gladiator,like new,...,4wd,full-size,pickup,grey,https://images.craigslist.org/00909_kPkElEcTZ5...,I'm putting up for sale my Jeep Gladiator. I j...,al,32.611442,-85.481615,2020-11-23T15:02:02-0600
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,birmingham,https://bham.craigslist.org,24999,2016.0,mercedes-benz,benz c300 4matic,like new,...,rwd,full-size,sedan,white,https://images.craigslist.org/00M0M_jvdDIzsekt...,2016 Mercedes BENZ C300-4MATIC-AWD YES ONLY 18...,al,34.206619,-84.777696,2020-12-02T13:14:57-0600
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,birmingham,https://bham.craigslist.org,41900,2016.0,jeep,wrangler,good,...,4wd,full-size,SUV,white,https://images.craigslist.org/00M0M_cquuYs5OeK...,"2016 Jeep Wrangler Unlimited Sahara 4WD - $41,...",al,34.466560,-85.358940,2020-12-02T13:11:19-0600
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,birmingham,https://bham.craigslist.org,23900,2005.0,gmc,sierra 3500,good,...,4wd,full-size,truck,white,https://images.craigslist.org/00202_jIsmWQ0vhC...,"2005 GMC Sierra 3500 SLT Crew Cab 4WD - $23,90...",al,34.466560,-85.358940,2020-12-02T13:10:38-0600
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,birmingham,https://bham.craigslist.org,18900,2012.0,chevrolet,silverado 3500hd,good,...,rwd,full-size,truck,white,https://images.craigslist.org/00y0y_NL74aBjE1B...,2012 Chevrolet Silverado 3500HD Work Truck Lon...,al,34.466560,-85.358940,2020-12-02T13:10:29-0600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42379,458154,7240979817,https://milwaukee.craigslist.org/ctd/d/mukwona...,milwaukee,https://milwaukee.craigslist.org,0,2015.0,jeep,wrangler unlimited sahara,excellent,...,4wd,full-size,SUV,red,https://images.craigslist.org/00e0e_bk64cPmhJ4...,ðŸ’¥ðŸ’¥ðŸ’¥ WE ARE A DEALERSHIP AND WE USE LIVE MARKET...,wi,42.857878,-88.309457,2020-12-03T09:32:43-0600
42380,458195,7240981040,https://sheboygan.craigslist.org/ctd/d/manitow...,sheboygan,https://sheboygan.craigslist.org,20488,2010.0,gmc,sierra 1500,excellent,...,4wd,mid-size,truck,black,https://images.craigslist.org/00P0P_bnajhQgGn3...,big> 2010 GMC Sierra 1500 SLT - Carbon Black M...,wi,44.078180,-87.696800,2020-12-03T09:34:37-0600
42381,458202,7240989873,https://wausau.craigslist.org/ctd/d/auburndale...,wausau,https://wausau.craigslist.org,4995,2005.0,buick,rendezvous cx,good,...,fwd,compact,SUV,grey,https://images.craigslist.org/00j0j_fzzhvpvful...,2005 Buick Rendezvous CX. 3.4 V6. Need that ...,wi,44.631225,-90.022076,2020-12-03T09:48:38-0600
42382,458204,7240975107,https://wausau.craigslist.org/ctd/d/auburndale...,wausau,https://wausau.craigslist.org,4495,2006.0,buick,lacrosse cx,good,...,fwd,mid-size,sedan,black,https://images.craigslist.org/01010_cdS54li18Y...,"2006 Buick Lacrosse, CX 3.8 V6, 1 owner, clean...",wi,44.631225,-90.022076,2020-12-03T09:24:54-0600
42383,458211,7240600465,https://wyoming.craigslist.org/cto/d/sheridan-...,wyoming,https://wyoming.craigslist.org,1300,2008.0,jeep,grand cherokee,good,...,4wd,mid-size,SUV,white,https://images.craigslist.org/00C0C_fl0NW1IeJw...,PRICE REDUCTION Turns out the engine is toast...,wy,44.773500,-106.939600,2020-12-02T13:01:04-0700

In [10]:
dfregion = pd.get_dummies(ndf.region, prefix='region')
ndf = ndf.join(dfregion)
ndf.drop(['region'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,manufacturer,model,condition,cylinders,...,region_winchester,region_winston-salem,region_worcester / central MA,region_wyoming,region_yakima,region_york,region_youngstown,region_yuba-sutter,region_yuma,region_zanesville / cambridge
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,jeep,gladiator,like new,6 cylinders,...,0,0,0,0,0,0,0,0,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,mercedes-benz,benz c300 4matic,like new,4 cylinders,...,0,0,0,0,0,0,0,0,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,jeep,wrangler,good,6 cylinders,...,0,0,0,0,0,0,0,0,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,gmc,sierra 3500,good,8 cylinders,...,0,0,0,0,0,0,0,0,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,chevrolet,silverado 3500hd,good,8 cylinders,...,0,0,0,0,0,0,0,0,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,chevrolet,traverse ls,excellent,6 cylinders,...,0,0,0,0,0,0,0,0,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,chevrolet,express 3500 15 pass,like new,8 cylinders,...,0,0,0,0,0,0,0,0,0,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,gmc,yukon,excellent,8 cylinders,...,0,0,0,0,0,0,0,0,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,ford,super duty f-550 drw,good,10 cylinders,...,0,0,0,0,0,0,0,0,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,ram,3500,good,6 cylinders,...,0,0,0,0,0,0,0,0,0,0

In [11]:
dfman = pd.get_dummies(ndf.manufacturer, prefix='manufacturer')
ndf = ndf.join(dfman)
ndf.drop(['manufacturer'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,condition,cylinders,fuel,...,manufacturer_pontiac,manufacturer_porsche,manufacturer_ram,manufacturer_rover,manufacturer_saturn,manufacturer_subaru,manufacturer_tesla,manufacturer_toyota,manufacturer_volkswagen,manufacturer_volvo
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,like new,6 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,like new,4 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,good,6 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,good,8 cylinders,diesel,...,0,0,0,0,0,0,0,0,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,good,8 cylinders,diesel,...,0,0,0,0,0,0,0,0,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,excellent,6 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,like new,8 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,excellent,8 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,good,10 cylinders,gas,...,0,0,0,0,0,0,0,0,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,good,6 cylinders,diesel,...,0,0,1,0,0,0,0,0,0,0

In [12]:
dfdrive = pd.get_dummies(ndf.drive, prefix='drive')
ndf = ndf.join(dfdrive)
ndf.drop(['drive'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,condition,cylinders,fuel,...,manufacturer_rover,manufacturer_saturn,manufacturer_subaru,manufacturer_tesla,manufacturer_toyota,manufacturer_volkswagen,manufacturer_volvo,drive_4wd,drive_fwd,drive_rwd
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,like new,6 cylinders,gas,...,0,0,0,0,0,0,0,1,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,like new,4 cylinders,gas,...,0,0,0,0,0,0,0,0,0,1
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,good,6 cylinders,gas,...,0,0,0,0,0,0,0,1,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,good,8 cylinders,diesel,...,0,0,0,0,0,0,0,1,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,good,8 cylinders,diesel,...,0,0,0,0,0,0,0,0,0,1
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,excellent,6 cylinders,gas,...,0,0,0,0,0,0,0,0,1,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,like new,8 cylinders,gas,...,0,0,0,0,0,0,0,0,0,1
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,excellent,8 cylinders,gas,...,0,0,0,0,0,0,0,0,1,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,good,10 cylinders,gas,...,0,0,0,0,0,0,0,1,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,good,6 cylinders,diesel,...,0,0,0,0,0,0,0,0,0,1

In [13]:
dfcon = pd.get_dummies(ndf.condition, prefix='condtion')
ndf = ndf.join(dfcon)
ndf.drop(['condition'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,cylinders,fuel,odometer,...,manufacturer_volvo,drive_4wd,drive_fwd,drive_rwd,condtion_excellent,condtion_fair,condtion_good,condtion_like new,condtion_new,condtion_salvage
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,6 cylinders,gas,10500.0,...,0,1,0,0,0,0,0,1,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,4 cylinders,gas,18823.0,...,0,0,0,1,0,0,0,1,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,6 cylinders,gas,13036.0,...,0,1,0,0,0,0,1,0,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,8 cylinders,diesel,145970.0,...,0,1,0,0,0,0,1,0,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,8 cylinders,diesel,177450.0,...,0,0,0,1,0,0,1,0,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,6 cylinders,gas,90974.0,...,0,0,1,0,1,0,0,0,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,8 cylinders,gas,4491.0,...,0,0,0,1,0,0,0,1,0,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,8 cylinders,gas,24305.0,...,0,0,1,0,1,0,0,0,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,10 cylinders,gas,159808.0,...,0,1,0,0,0,0,1,0,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,6 cylinders,diesel,209854.0,...,0,0,0,1,0,0,1,0,0,0

In [14]:
dftype = pd.get_dummies(ndf.type, prefix='type')
ndf = ndf.join(dftype)
ndf.drop(['type'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,cylinders,fuel,odometer,...,type_coupe,type_hatchback,type_mini-van,type_offroad,type_other,type_pickup,type_sedan,type_truck,type_van,type_wagon
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,6 cylinders,gas,10500.0,...,0,0,0,0,0,1,0,0,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,4 cylinders,gas,18823.0,...,0,0,0,0,0,0,1,0,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,6 cylinders,gas,13036.0,...,0,0,0,0,0,0,0,0,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,8 cylinders,diesel,145970.0,...,0,0,0,0,0,0,0,1,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,8 cylinders,diesel,177450.0,...,0,0,0,0,0,0,0,1,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,6 cylinders,gas,90974.0,...,0,0,0,0,0,0,0,0,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,8 cylinders,gas,4491.0,...,0,0,0,0,0,0,0,0,1,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,8 cylinders,gas,24305.0,...,0,0,0,0,0,0,0,0,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,10 cylinders,gas,159808.0,...,0,0,0,0,0,0,0,1,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,6 cylinders,diesel,209854.0,...,0,0,0,0,0,0,0,1,0,0

In [15]:
dfpc = pd.get_dummies(ndf.paint_color, prefix='paint_color')
ndf = ndf.join(dfpc)
ndf.drop(['paint_color'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,cylinders,fuel,odometer,...,paint_color_brown,paint_color_custom,paint_color_green,paint_color_grey,paint_color_orange,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,6 cylinders,gas,10500.0,...,0,0,0,1,0,0,0,0,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,4 cylinders,gas,18823.0,...,0,0,0,0,0,0,0,0,1,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,6 cylinders,gas,13036.0,...,0,0,0,0,0,0,0,0,1,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,8 cylinders,diesel,145970.0,...,0,0,0,0,0,0,0,0,1,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,8 cylinders,diesel,177450.0,...,0,0,0,0,0,0,0,0,1,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,6 cylinders,gas,90974.0,...,0,0,0,0,0,0,0,1,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,8 cylinders,gas,4491.0,...,0,0,0,0,0,0,0,0,1,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,8 cylinders,gas,24305.0,...,0,0,0,0,0,0,0,0,1,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,10 cylinders,gas,159808.0,...,0,0,0,0,0,0,0,0,1,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,6 cylinders,diesel,209854.0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
dfpc = pd.get_dummies(ndf.fuel, prefix='fuel')
ndf = ndf.join(dfpc)
ndf.drop(['fuel'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,cylinders,odometer,title_status,...,paint_color_purple,paint_color_red,paint_color_silver,paint_color_white,paint_color_yellow,fuel_diesel,fuel_electric,fuel_gas,fuel_hybrid,fuel_other
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,6 cylinders,10500.0,clean,...,0,0,0,0,0,0,0,1,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,4 cylinders,18823.0,clean,...,0,0,0,1,0,0,0,1,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,6 cylinders,13036.0,clean,...,0,0,0,1,0,0,0,1,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,8 cylinders,145970.0,clean,...,0,0,0,1,0,1,0,0,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,8 cylinders,177450.0,clean,...,0,0,0,1,0,1,0,0,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,6 cylinders,90974.0,clean,...,0,0,1,0,0,0,0,1,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,8 cylinders,4491.0,clean,...,0,0,0,1,0,0,0,1,0,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,8 cylinders,24305.0,clean,...,0,0,0,1,0,0,0,1,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,10 cylinders,159808.0,clean,...,0,0,0,1,0,0,0,1,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,6 cylinders,209854.0,clean,...,0,0,0,1,0,1,0,0,0,0

In [17]:
dfpc = pd.get_dummies(ndf.cylinders, prefix='cylinders')
ndf = ndf.join(dfpc)
ndf.drop(['cylinders'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,odometer,title_status,transmission,...,fuel_hybrid,fuel_other,cylinders_10 cylinders,cylinders_12 cylinders,cylinders_3 cylinders,cylinders_4 cylinders,cylinders_5 cylinders,cylinders_6 cylinders,cylinders_8 cylinders,cylinders_other
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,10500.0,clean,automatic,...,0,0,0,0,0,0,0,1,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,18823.0,clean,automatic,...,0,0,0,0,0,1,0,0,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,13036.0,clean,automatic,...,0,0,0,0,0,0,0,1,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,145970.0,clean,automatic,...,0,0,0,0,0,0,0,0,1,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,177450.0,clean,automatic,...,0,0,0,0,0,0,0,0,1,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,90974.0,clean,automatic,...,0,0,0,0,0,0,0,1,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,4491.0,clean,automatic,...,0,0,0,0,0,0,0,0,1,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,24305.0,clean,automatic,...,0,0,0,0,0,0,0,0,1,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,159808.0,clean,automatic,...,0,0,1,0,0,0,0,0,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,209854.0,clean,automatic,...,0,0,0,0,0,0,0,1,0,0

In [23]:
dfpc = pd.get_dummies(ndf.transmission, prefix='transmission')
ndf = ndf.join(dfpc)
ndf.drop(['transmission'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,odometer,title_status,VIN,...,cylinders_12 cylinders,cylinders_3 cylinders,cylinders_4 cylinders,cylinders_5 cylinders,cylinders_6 cylinders,cylinders_8 cylinders,cylinders_other,transmission_automatic,transmission_manual,transmission_other
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,10500.0,clean,1C6JJTEG0LL206955,...,0,0,0,0,1,0,0,1,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,18823.0,clean,55SWF4KBXGU177602,...,0,0,1,0,0,0,0,1,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,13036.0,clean,1C4BJWEG7GL227466,...,0,0,0,0,1,0,0,1,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,145970.0,clean,1GTJK33265F893647,...,0,0,0,0,0,1,0,1,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,177450.0,clean,1GB3CZCL4CF186095,...,0,0,0,0,0,1,0,1,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,90974.0,clean,1GNKRFED8GJ228188,...,0,0,0,0,1,0,0,1,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,4491.0,clean,1GAZG1FA2E1129344,...,0,0,0,0,0,1,0,1,0,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,24305.0,clean,1GKS1CKJ2LR153495,...,0,0,0,0,0,1,0,1,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,159808.0,clean,1FD0X5HY7FEB37754,...,0,0,0,0,0,0,0,1,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,209854.0,clean,3D6WG46A98G218159,...,0,0,0,0,1,0,0,1,0,0

In [25]:
dfpc = pd.get_dummies(ndf.state, prefix='state')
ndf = ndf.join(dfpc)
ndf.drop(['state'], axis=1, inplace=True)
ndf.head(10)

,Unnamed: 0,id,url,region_url,price,year,model,odometer,title_status,VIN,...,state_sd,state_tn,state_tx,state_ut,state_va,state_vt,state_wa,state_wi,state_wv,state_wy
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,10500.0,clean,1C6JJTEG0LL206955,...,0,0,0,0,0,0,0,0,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,18823.0,clean,55SWF4KBXGU177602,...,0,0,0,0,0,0,0,0,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,13036.0,clean,1C4BJWEG7GL227466,...,0,0,0,0,0,0,0,0,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,145970.0,clean,1GTJK33265F893647,...,0,0,0,0,0,0,0,0,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,177450.0,clean,1GB3CZCL4CF186095,...,0,0,0,0,0,0,0,0,0,0
5,96,7240548971,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,14916,2016.0,traverse ls,90974.0,clean,1GNKRFED8GJ228188,...,0,0,0,0,0,0,0,0,0,0
6,97,7240543174,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,21900,2014.0,express 3500 15 pass,4491.0,clean,1GAZG1FA2E1129344,...,0,0,0,0,0,0,0,0,0,0
7,108,7240431889,https://bham.craigslist.org/cto/d/selma-2020-g...,https://bham.craigslist.org,63200,2020.0,yukon,24305.0,clean,1GKS1CKJ2LR153495,...,0,0,0,0,0,0,0,0,0,0
8,132,7240153977,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,34990,2015.0,super duty f-550 drw,159808.0,clean,1FD0X5HY7FEB37754,...,0,0,0,0,0,0,0,0,0,0
9,133,7240153843,https://bham.craigslist.org/ctd/d/south-amboy-...,https://bham.craigslist.org,15990,2008.0,3500,209854.0,clean,3D6WG46A98G218159,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#ndf.to_csv(r'Data/vn4.csv', index = False)
n2df = pd.read_csv("data/vn4.csv")
n2df

,Unnamed: 0,id,url,region_url,price,year,model,odometer,title_status,VIN,...,state_sd,state_tn,state_tx,state_ut,state_va,state_vt,state_wa,state_wi,state_wv,state_wy
0,19,7235942858,https://auburn.craigslist.org/cto/d/auburn-202...,https://auburn.craigslist.org,47000,2020.0,gladiator,10500.0,clean,1C6JJTEG0LL206955,...,0,0,0,0,0,0,0,0,0,0
1,91,7240569685,https://bham.craigslist.org/ctd/d/cartersville...,https://bham.craigslist.org,24999,2016.0,benz c300 4matic,18823.0,clean,55SWF4KBXGU177602,...,0,0,0,0,0,0,0,0,0,0
2,92,7240567296,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,41900,2016.0,wrangler,13036.0,clean,1C4BJWEG7GL227466,...,0,0,0,0,0,0,0,0,0,0
3,93,7240566811,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,23900,2005.0,sierra 3500,145970.0,clean,1GTJK33265F893647,...,0,0,0,0,0,0,0,0,0,0
4,95,7240566722,https://bham.craigslist.org/ctd/d/summerville-...,https://bham.craigslist.org,18900,2012.0,silverado 3500hd,177450.0,clean,1GB3CZCL4CF186095,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42379,458154,7240979817,https://milwaukee.craigslist.org/ctd/d/mukwona...,https://milwaukee.craigslist.org,0,2015.0,wrangler unlimited sahara,70885.0,clean,1C4BJWEG0FL668113,...,0,0,0,0,0,0,0,1,0,0
42380,458195,7240981040,https://sheboygan.craigslist.org/ctd/d/manitow...,https://sheboygan.craigslist.org,20488,2010.0,sierra 1500,63812.0,clean,3GTRKWE36AG215287,...,0,0,0,0,0,0,0,1,0,0
42381,458202,7240989873,https://wausau.craigslist.org/ctd/d/auburndale...,https://wausau.craigslist.org,4995,2005.0,rendezvous cx,137962.0,clean,3G5DB03E05S549305,...,0,0,0,0,0,0,0,1,0,0
42382,458204,7240975107,https://wausau.craigslist.org/ctd/d/auburndale...,https://wausau.craigslist.org,4495,2006.0,lacrosse cx,121488.0,clean,2G4WC582161287362,...,0,0,0,0,0,0,0,1,0,0
42383,458211,7240600465,https://wyoming.craigslist.org/cto/d/sheridan-...,https://wyoming.craigslist.org,1300,2008.0,grand cherokee,164000.0,clean,1J8HR48N78C242593,...,0,0,0,0,0,0,0,0,0,1

In [10]:
ndf = pd.read_csv("data/vn.csv")
n2df1 = ndf.drop(['url'], axis=1)
n2df1 = n2df1.drop(['model'], axis=1)
n2df1 = n2df1.drop(['VIN'], axis=1)
n2df1 = n2df1.drop(['size'], axis=1)
n2df1 = n2df1.drop(['title_status'], axis=1)
n2df1 = n2df1.drop(['description'], axis=1)
n2df1 = n2df1.drop(['image_url'], axis=1)
n2df1 = n2df1.drop(['id'], axis=1)
n2df1 = n2df1.drop(['lat'], axis=1)
n2df1 = n2df1.drop(['long'], axis=1)
n2df1 = n2df1.drop(['Unnamed: 0'], axis=1)
n2df1 = n2df1.drop(['region_url'], axis=1)
n2df1 = n2df1.drop(['posting_date'], axis=1)
n2df1.to_csv(r'Data/vn3.csv', index = False)
n2df1

,region,price,year,manufacturer,condition,cylinders,fuel,odometer,transmission,drive,type,paint_color,state
0,auburn,47000,2020.0,jeep,like new,6 cylinders,gas,10500.0,automatic,4wd,pickup,grey,al
1,birmingham,24999,2016.0,mercedes-benz,like new,4 cylinders,gas,18823.0,automatic,rwd,sedan,white,al
2,birmingham,41900,2016.0,jeep,good,6 cylinders,gas,13036.0,automatic,4wd,SUV,white,al
3,birmingham,23900,2005.0,gmc,good,8 cylinders,diesel,145970.0,automatic,4wd,truck,white,al
4,birmingham,18900,2012.0,chevrolet,good,8 cylinders,diesel,177450.0,automatic,rwd,truck,white,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42379,milwaukee,0,2015.0,jeep,excellent,6 cylinders,gas,70885.0,automatic,4wd,SUV,red,wi
42380,sheboygan,20488,2010.0,gmc,excellent,8 cylinders,gas,63812.0,automatic,4wd,truck,black,wi
42381,wausau,4995,2005.0,buick,good,6 cylinders,gas,137962.0,automatic,fwd,SUV,grey,wi
42382,wausau,4495,2006.0,buick,good,6 cylinders,gas,121488.0,automatic,fwd,sedan,black,wi
42383,wyoming,1300,2008.0,jeep,good,8 cylinders,gas,164000.0,automatic,4wd,SUV,white,wy

In [5]:
import pandas as pd
pd.set_option('display.max_columns', None)
#n2df = pd.read_csv("data/vn2.csv")
ndf = pd.read_csv("data/vn.csv")
Search1 = input("What kind of car do you want?: ")
#state_cols = [col for col in n2df.columns if 'type' and Search in col]
#state_cols[0]
#new_df = ndf[ndf[str(state_cols[0])].str.contains(, na=False)]
#new_df.head()
#state_col = [col for col in ndf.columns if 'type' in col]
new_df = ndf[ndf['type'].str.contains(Search1, na=False)]
Pref = input('Want a newish car?: ')
if (Pref == 'yes' or 'Yes' or 'y' or 'yea' or 'Y'):
 new_df = new_df[new_df.year >= 2016.0]
elif (Pref == 'no' or 'No' or 'n' or 'nah' or 'N'):
 new_df = new_df[new_df.year < 2016.0]
#print(new_df)
Search2 = int(input("What's your budget?: "))
new_df = new_df[new_df.price < Search2]
Search3 = input("What's your state? (use two small letters so New York should be ny): ")
new_df = new_df[new_df['state'].str.contains(Search3, na=False)]
new_df4 = new_df[new_df['condition'].str.contains('like new', na=False)]
#new_df4 = new_df4.groupby(['year', 'price']).size().sort_values()
new_df4 = new_df4.sort_values(['year', 'price'],ascending=False)
print(" ")
print("Recommended")
print(" ")
print(new_df4.head(10))
new_df2 = new_df[new_df['condition'].str.contains('excellent', na=False)]
#new_df2 = new_df2.groupby(['year', 'price']).size().sort_values()
new_df2 = new_df2.sort_values(['year', 'price'],ascending=False)
print(" ")
print("Next Best")
print(" ")
print(new_df2.head(10))
new_df3 = new_df[new_df['condition'].str.contains('good', na=False)]
#new_df3 = new_df3.groupby(['year', 'price']).size().sort_values()
new_df3 = new_df3.sort_values(['year', 'price'],ascending=False)
print(" ")
print("Next Best, Still")
print(" ")
print(new_df3.head(10))
u1df = pd.read_csv("data/vn5.csv")
d = {'type': Search1, 'budget': Search2}
#udf = pd.DataFrame(data=d)
print(d)
u1df = u1df.append(d,ignore_index=True)
#print("user data")
#print(u1df)
u1df.to_csv(r'Data/vn5.csv', index = False)
from scipy.spatial.distance import cosine
cosme = 1 - cosine(u2df['type_'+Search1], u2df[out])
ndf11 = pd.read_csv("data/vn.csv")
if cosme > 0.5:
 print("")
 print("For You!")
 print("")
 new_df5 = ndf11[ndf11['type'].str.contains(out1, na=False)]
 if (Pref == 'yes' or 'Yes' or 'y' or 'yea' or 'Y'):
  new_df5 = new_df5[new_df5.year >= 2016.0]
 elif (Pref == 'no' or 'No' or 'n' or 'nah' or 'N'):
  new_df5 = new_df5[new_df5.year < 2016.0]
 new_df5 = new_df5[new_df5.price < Search2*1.1]
 new_df5 = new_df5[new_df5['state'].str.contains(Search3, na=False)]
 new_df5 = new_df5[new_df5['condition'].str.contains('like new', na=False)]
 new_df5 = new_df5.sort_values(['year', 'price'])
 print(new_df.head(10))
pd.set_option('display.max_rows', None)
u2df = pd.read_csv("data/vn5.csv")
ports = pd.get_dummies(u2df.type, prefix='type')
u2df = u2df.join(ports)
u2df.drop(['type'], axis=1, inplace=True)
from scipy.spatial import distance
out = 'NULL'
ndf = pd.read_csv("data/vn.csv")
mink_dist1 = distance.minkowski(u2df['budget'].astype(float),u2df['type_SUV'].astype(float),p=10)
mink_dist2 = distance.minkowski(u2df['budget'].astype(float),u2df['type_convertible'].astype(float),p=10)
mink_dist3 = distance.minkowski(u2df['budget'].astype(float),u2df['type_coupe'].astype(float),p=10)
mink_dist4 = distance.minkowski(u2df['budget'].astype(float),u2df['type_hatchback'].astype(float),p=10)
mink_dist5 = distance.minkowski(u2df['budget'].astype(float),u2df['type_mini-van'].astype(float),p=10)
mink_dist6 = distance.minkowski(u2df['budget'].astype(float),u2df['type_pickup'].astype(float),p=10)
mink_dist7 = distance.minkowski(u2df['budget'].astype(float),u2df['type_sedan'].astype(float),p=10)
mink_dist8 = distance.minkowski(u2df['budget'].astype(float),u2df['type_truck'].astype(float),p=10)
mink_dist9 = distance.minkowski(u2df['budget'].astype(float),u2df['type_van'].astype(float),p=10)
mink_dist10 = distance.minkowski(u2df['budget'].astype(float),u2df['type_wagon'].astype(float),p=10)
smol = min(mink_dist1,mink_dist2,mink_dist3,mink_dist4,mink_dist5,mink_dist6,mink_dist7,mink_dist8,mink_dist9,mink_dist10)
if smol == mink_dist1:
 new_df = ndf[ndf['type'].str.contains('SUV', na=False)]
 out = 'type_SUV'
 out1 = 'SUV'
elif smol == mink_dist2:
 new_df = ndf[ndf['type'].str.contains('convertible', na=False)]
 out = 'type_convertible'
 out1 = 'convertible'
elif smol == mink_dist3:
 new_df = ndf[ndf['type'].str.contains('coupe', na=False)]
 out = 'type_coupe'
 out1 = 'coupe'
elif smol == mink_dist4:
 new_df = ndf[ndf['type'].str.contains('hatchback', na=False)]
 out = 'type_hatchback'
 out1 = 'hatchback'
elif smol == mink_dist5:
 new_df = ndf[ndf['type'].str.contains('mini-van', na=False)]
 out = 'type_mini-van'
 out1 = 'mini-van'
elif smol == mink_dist6:
 new_df = ndf[ndf['type'].str.contains('pickup', na=False)]
 out = 'type_pickup'
 out1 = 'pickup'
elif smol == mink_dist7:
 new_df = ndf[ndf['type'].str.contains('sedan', na=False)]
 out = 'type_sedan'
 out1 = 'sedan'
elif smol == mink_dist8:
 new_df = ndf[ndf['type'].str.contains('truck', na=False)]
 out = 'type_truck'
 out1 = 'truck'
elif smol == mink_dist9:
 new_df = ndf[ndf['type'].str.contains('van', na=False)]
 out = 'type_van'
 out1 = 'van'
elif smol == mink_dist10:
 new_df = ndf[ndf['type'].str.contains('wagon', na=False)]
 out = 'type_wagon'
 out1 = 'wagon'
"""print(mink_dist1)
print(mink_dist2)
print(mink_dist3)
print(mink_dist4)
print(mink_dist5)
print(mink_dist6)
print(mink_dist7)
print(mink_dist8)
print(mink_dist9)
print(mink_dist10)"""
if (Pref == 'yes' or 'Yes' or 'y' or 'yea' or 'Y'):
 new_df = new_df[new_df.year >= 2016.0]
elif (Pref == 'no' or 'No' or 'n' or 'nah' or 'N'):
 new_df = new_df[new_df.year < 2016.0]

new_df = new_df[new_df.price < Search2]
new_df = new_df[new_df['state'].str.contains(Search3, na=False)]
new_df = new_df[new_df['condition'].str.contains('like new', na=False)]
new_df = new_df.sort_values(['year', 'price'],ascending=False)
print("")
print("Hot Sale!")
print("")
print(new_df.head(10))

      clean    automatic  JTMZFREV0HJ700895   fwd   mid-size
35325   48900.0      rebuilt    automatic  1FMJU1HTXHEA47124   rwd  full-size

      type paint_color                                          image_url  \
34915  SUV        grey  https://images.craigslist.org/00D0D_8mWgDKdN1T...
35167  SUV        grey  https://images.craigslist.org/00p0p_9UAYhvXm7X...
35199  SUV        grey  https://images.craigslist.org/00X0X_flbq1kWm07...
35212  SUV       black  https://images.craigslist.org/00M0M_6Uhf1fyCEk...
35223  SUV       black  https://images.craigslist.org/00M0M_6Uhf1fyCEk...
35143  SUV        grey  https://images.craigslist.org/00M0M_kM5mbXef1E...
35168  SUV       black  https://images.craigslist.org/01414_e0hBdcfFuk...
35186  SUV         red  https://images.craigslist.org/00G0G_fq5ftvD6kK...
35202  SUV       white  https://images.craigslist.org/00j0j_1UAIGpY8mp...
35325  SUV       black  https://images.craigslist.org/00808_3XBw03uIMg...

                                             description state        lat  \
34915  This car was purchased new for my daughter who...    tx  35.166300
35167  2019 HYUNDAI TUCSON * COMES WITH COMFORTABLE S...    tx  30.658200
35199  2019 HYUNDAI TUCSON * COMES WITH COMFORTABLE S...    tx  30.658200
35212  2018 FORD EDGE CROSSOVER COME BY AND TAKE A LO...    tx  30.658200
35223  2018 FORD EDGE CROSSOVER COME BY AND TAKE A LO...    tx  30.658200
35143  2018 CHEVROLET EQUINOX LT FRONT WHEEL DRIVE 1....    tx  25.926377
35168  *2018 **MITSUBISHI OUTLANDER SPORT** SUPER NIC...    tx  30.658200
35186  INTRODUCING THIS BEAUTIFUL 2018 MITSUBISHI OUT...    tx  30.652884
35202  *2017 TOYOTA RAVA4 * GREAT FUEL-ECONOMY SUV , ...    tx  30.658200
35325  2017 BLACK FORD EXPEDITION ON BLACK LEATHER IN...    tx  32.739257

             long              posting_date
34915 -101.886800  2020-11-12T21:00:23-0600
35167  -96.335100  2020-12-01T13:57:23-0600
35199  -96.335100  2020-11-19T15:33:54-0600
35212  -96.335100  2020-11-17T17:12:18-0600
35223  -96.335100  2020-11-05T16:56:34-0600
35143  -97.520914  2020-11-12T12:07:30-0600
35168  -96.335100  2020-12-01T12:34:45-0600
35186  -96.335851  2020-11-24T16:31:04-0600
35202  -96.335100  2020-11-19T14:12:06-0600
35325  -97.117521  2020-12-02T10:43:10-0600

Next Best

               id                                                url  \
35562  7236992522  https://elpaso.craigslist.org/ctd/d/el-paso-20...
35618  7234244061  https://elpaso.craigslist.org/ctd/d/el-paso-20...
35558  7237357169  https://elpaso.craigslist.org/ctd/d/el-paso-20...
36508  7234674355  https://wichitafalls.craigslist.org/ctd/d/ardm...
36532  7225376462  https://wichitafalls.craigslist.org/ctd/d/ardm...
34916  7229870628  https://amarillo.craigslist.org/ctd/d/amarillo...
35679  7229237369  https://elpaso.craigslist.org/ctd/d/el-paso-20...
35567  7236992365  https://elpaso.craigslist.org/ctd/d/el-paso-20...
35622  7234242961  https://elpaso.craigslist.org/ctd/d/el-paso-20...
35684  7229234096  https://elpaso.craigslist.org/ctd/d/el-paso-20...

              region                           region_url  price    year  \
35562        el paso        https://elpaso.craigslist.org  15999  2020.0
35618        el paso        https://elpaso.craigslist.org  15999  2020.0
35558        el paso        https://elpaso.craigslist.org  14999  2020.0
36508  wichita falls  https://wichitafalls.craigslist.org      0  2020.0
36532  wichita falls  https://wichitafalls.craigslist.org      0  2020.0
34916       amarillo      https://amarillo.craigslist.org  18400  2019.0
35679        el paso        https://elpaso.craigslist.org  13999  2019.0
35567        el paso        https://elpaso.craigslist.org   9999  2019.0
35622        el paso        https://elpaso.craigslist.org   9999  2019.0
35684        el paso        https://elpaso.craigslist.org   9999  2019.0

      manufacturer     model  condition    cylinders fuel  odometer  \
35562       toyota      c-hr  excellent  4 cylinders  gas    1371.0
35618       toyota      c-hr  excellent  4 cylinders  gas    1371.0
35558         jeep  renegade  excellent  4 cylinders  gas   10366.0
36508     cadillac  escalade  excellent  8 cylinders  gas   48435.0
36532     cadillac  escalade  excellent  8 cylinders  gas   48435.0
34916       nissan  kicks sr  excellent  4 cylinders  gas   20600.0
35679         jeep  renegade  excellent  4 cylinders  gas    2316.0
35567       nissan     rogue  excellent  4 cylinders  gas   45562.0
35622       nissan     rogue  excellent  4 cylinders  gas   45562.0
35684       nissan     rogue  excellent  4 cylinders  gas   45562.0

      title_status transmission                VIN drive         size type  \
35562      rebuilt    automatic  JTNKHMBXXL1075320   rwd    full-size  SUV
35618      rebuilt    automatic  JTNKHMBXXL1075320   rwd    full-size  SUV
35558        clean    automatic  ZACNJABBXLPL54269   rwd    full-size  SUV
36508        clean    automatic  1GYS3BKJ4LR125871   rwd    full-size  SUV
36532        clean    automatic  1GYS3BKJ4LR125871   rwd    full-size  SUV
34916        clean    automatic  3N1CP5CU2KL496111   fwd  sub-compact  SUV
35679        clean    automatic  ZACNJBABXKPJ77907   4wd    full-size  SUV
35567      rebuilt    automatic  5N1AT2MT1KC733053   rwd    full-size  SUV
35622      rebuilt    automatic  5N1AT2MT1KC733053   rwd    full-size  SUV
35684      rebuilt    automatic  5N1AT2MT1KC733053   rwd    full-size  SUV

      paint_color                                          image_url  \
35562       white  https://images.craigslist.org/01515_4tmiiXmbV9...
35618       white  https://images.craigslist.org/01515_4tmiiXmbV9...
35558       black  https://images.craigslist.org/00D0D_8S4zQOp5Aa...
36508       black  https://images.craigslist.org/00n0n_dYAzUML8N5...
36532       black  https://images.craigslist.org/00000_3diwOLVBBK...
34916      silver  https://images.craigslist.org/00W0W_8UTlVlCUbt...
35679      silver  https://images.craigslist.org/00t0t_8avbZO6XWT...
35567      silver  https://images.craigslist.org/00u0u_7htgSXpXDo...
35622      silver  https://images.craigslist.org/00u0u_7htgSXpXDo...
35684      silver  https://images.craigslist.org/00u0u_7htgSXpXDo...

                                             description state        lat  \
35562  2020 Toyota C-HR XLE - $15,999  Year: 2020 Mak...    tx  31.801408
35618  2020 Toyota C-HR XLE - $15,999  Year: 2020 Mak...    tx  31.801408
35558  2020 Jeep Renegade Latitude - $14,999  Year: 2...    tx  31.801408
36508  2020 Cadillac Escalade Luxury - Black Raven   ...    tx  34.197090
36532  2020 Cadillac Escalade Luxury - Black Raven   ...    tx  34.197090
34916  This is a 1 Owner 2019 Nissan Kicks SR with a ...    tx  35.187506
35679  2019 Jeep Renegade Sport 4WD - $13,999  Year: ...    tx  31.801408
35567  2019 Nissan Rogue SV 2WD - $9,999  Year: 2019 ...    tx  31.801408
35622  2019 Nissan Rogue SV 2WD - $9,999  Year: 2019 ...    tx  31.801408
35684  2019 Nissan Rogue SV 2WD - $9,999  Year: 2019 ...    tx  31.801408

             long              posting_date
35562 -106.299108  2020-11-25T13:13:52-0700
35618 -106.299108  2020-11-20T11:27:51-0700
35558 -106.299108  2020-11-26T11:26:52-0700
36508  -97.160560  2020-11-21T09:26:21-0600
36532  -97.160560  2020-11-04T11:30:19-0600
34916 -101.883752  2020-11-12T14:16:59-0600
35679 -106.299108  2020-11-11T11:53:58-0700
35567 -106.299108  2020-11-25T13:13:34-0700
35622 -106.299108  2020-11-20T11:26:15-0700
35684 -106.299108  2020-11-11T11:49:32-0700

Next Best, Still

               id                                                url  \
36314  7239476101  https://easttexas.craigslist.org/ctd/d/tyler-2...

                region                        region_url  price    year  \
36314  tyler / east TX  https://easttexas.craigslist.org  12995  2016.0

      manufacturer   model condition    cylinders fuel  odometer title_status  \
36314         ford  escape      good  4 cylinders  gas   97545.0        clean

      transmission                VIN drive       size type paint_color  \
36314    automatic  1FMCU0F72GUA29164   fwd  full-size  SUV       black

                                               image_url  \
36314  https://images.craigslist.org/00p0p_2lMN9dRkX0...

                                             description state        lat  \
36314  2016 Ford Escape S FWD - $12,995  Year: 2016 M...    tx  32.292782

            long              posting_date
36314 -95.350543  2020-11-30T14:44:39-0600
{'type': 'SUV', 'budget': 19000}

For You!

               id                                                url  \
34871  7237921567  https://abilene.craigslist.org/cto/d/abilene-2...
34880  7231832235  https://abilene.craigslist.org/ctd/d/comanche-...
34885  7231828174  https://abilene.craigslist.org/ctd/d/comanche-...
34908  7232755047  https://amarillo.craigslist.org/ctd/d/amarillo...
34915  7230068917  https://amarillo.craigslist.org/cto/d/amarillo...
34916  7229870628  https://amarillo.craigslist.org/ctd/d/amarillo...
34991  7239114269  https://austin.craigslist.org/cto/d/austin-201...
35140  7229781853  https://brownsville.craigslist.org/ctd/d/brown...
35143  7229778231  https://brownsville.craigslist.org/ctd/d/brown...
35148  7228843529  https://brownsville.craigslist.org/ctd/d/brown...

            region                          region_url  price    year  \
34871      abilene      https://abilene.craigslist.org  18998  2016.0
34880      abilene      https://abilene.craigslist.org  17490  2017.0
34885      abilene      https://abilene.craigslist.org  15990  2016.0
34908     amarillo     https://amarillo.craigslist.org  16980  2018.0
34915     amarillo     https://amarillo.craigslist.org  18000  2019.0
34916     amarillo     https://amarillo.craigslist.org  18400  2019.0
34991       austin       https://austin.craigslist.org  14900  2016.0
35140  brownsville  https://brownsville.craigslist.org  17850  2016.0
35143  brownsville  https://brownsville.craigslist.org  15800  2018.0
35148  brownsville  https://brownsville.craigslist.org  17850  2016.0

      manufacturer                  model  condition    cylinders fuel  \
34871     cadillac                    srx  excellent  6 cylinders  gas
34880        buick                 encore  excellent  4 cylinders  gas
34885    chevrolet                equinox  excellent  4 cylinders  gas
34908    chevrolet             equinox lt  excellent  4 cylinders  gas
34915         jeep               cherokee   like new  6 cylinders  gas
34916       nissan               kicks sr  excellent  4 cylinders  gas
34991        mazda                   cx-5  excellent  4 cylinders  gas
35140         ford  expedition xlt 4wd kr   like new  6 cylinders  gas
35143    chevrolet             equinox lt   like new  4 cylinders  gas
35148         ford  expedition xlt 4wd kr   like new  6 cylinders  gas

       odometer title_status transmission                VIN drive  \
34871   55405.0         lien    automatic  3GYFNBE37GS506609   fwd
34880   12790.0        clean    automatic  KL4CJ1SB7HB162278   fwd
34885   67565.0        clean    automatic  2GNALCEK2G1122467   fwd
34908   35011.0        clean    automatic  3GNAXJEV3JL251455   fwd
34915   59854.0        clean    automatic  1C4PJLLX2KD145056   fwd
34916   20600.0        clean    automatic  3N1CP5CU2KL496111   fwd
34991   59946.0        clean    automatic  JM3KE2BY3G0631139   fwd
35140   70000.0        clean    automatic  1FTECK56439HGJ321   4wd
35143   23000.0        clean    automatic  165FGTD8765VCT543   fwd
35148   70000.0        clean    automatic  1FTECK56439HGJ321   4wd

              size type paint_color  \
34871    full-size  SUV       white
34880      compact  SUV      silver
34885     mid-size  SUV      silver
34908      compact  SUV        blue
34915     mid-size  SUV        grey
34916  sub-compact  SUV      silver
34991    full-size  SUV       brown
35140    full-size  SUV        grey
35143     mid-size  SUV        grey
35148    full-size  SUV        grey

                                               image_url  \
34871  https://images.craigslist.org/01313_9F6wxU3RmH...
34880  https://images.craigslist.org/00T0T_3VUR9Wgxqz...
34885  https://images.craigslist.org/00l0l_9NusTD76FA...
34908  https://images.craigslist.org/01414_2NEq9ikczw...
34915  https://images.craigslist.org/00D0D_8mWgDKdN1T...
34916  https://images.craigslist.org/00W0W_8UTlVlCUbt...
34991  https://images.craigslist.org/00D0D_eWwK8zvhP4...
35140  https://images.craigslist.org/00L0L_eO39GV0LxO...
35143  https://images.craigslist.org/00M0M_kM5mbXef1E...
35148  https://images.craigslist.org/00X0X_c3tEGfhByH...

                                             description state        lat  \
34871  Have you asked Santa to bring you a new Cadill...    tx  32.339483
34880  2017 Buick Encore Sport Touring - Quicksilver ...    tx  31.897388
34885  2016 Chevrolet Equinox LT - Champagne Silver M...    tx  31.897388
34908  2018 CHEVROLET EQUINOX     Vehicle Information...    tx  35.187523
34915  This car was purchased new for my daughter who...    tx  35.166300
34916  This is a 1 Owner 2019 Nissan Kicks SR with a ...    tx  35.187506
34991  Excellent condition 2016 Mazda CX-5 Sport 59,9...    tx  30.269557
35140  2016 FORD EXPEDITION XLT KING RANCH PACKAGE 4W...    tx  25.924976
35143  2018 CHEVROLET EQUINOX LT FRONT WHEEL DRIVE 1....    tx  25.926377
35148  2016 FORD EXPEDITION XLT KING RANCH PACKAGE 4W...    tx  25.924976

             long              posting_date
34871  -99.669829  2020-11-27T16:32:33-0600
34880  -98.615578  2020-11-16T09:24:45-0600
34885  -98.615578  2020-11-16T09:18:28-0600
34908 -101.883752  2020-11-17T17:53:11-0600
34915 -101.886800  2020-11-12T21:00:23-0600
34916 -101.883752  2020-11-12T14:16:59-0600
34991  -97.696706  2020-11-29T23:47:58-0600
35140  -97.521624  2020-11-12T12:12:26-0600
35143  -97.520914  2020-11-12T12:07:30-0600
35148  -97.521624  2020-11-10T17:49:11-0600

Hot Sale!

               id                                                url  \
34915  7230068917  https://amarillo.craigslist.org/cto/d/amarillo...
35167  7240027957  https://collegestation.craigslist.org/ctd/d/br...
35199  7233809388  https://collegestation.craigslist.org/ctd/d/br...
35212  7232734119  https://collegestation.craigslist.org/ctd/d/br...
35223  7226123691  https://collegestation.craigslist.org/ctd/d/br...
35143  7229778231  https://brownsville.craigslist.org/ctd/d/brown...
35168  7239969815  https://collegestation.craigslist.org/ctd/d/br...
35186  7236543722  https://collegestation.craigslist.org/ctd/d/br...
35202  7233757337  https://collegestation.craigslist.org/ctd/d/br...
35325  7240463041  https://dallas.craigslist.org/mdf/ctd/d/arling...

                    region                             region_url  price  \
34915             amarillo        https://amarillo.craigslist.org  18000
35167      college station  https://collegestation.craigslist.org  17900
35199      college station  https://collegestation.craigslist.org  17900
35212      college station  https://collegestation.craigslist.org  15900
35223      college station  https://collegestation.craigslist.org  15900
35143          brownsville     https://brownsville.craigslist.org  15800
35168      college station  https://collegestation.craigslist.org  13900
35186      college station  https://collegestation.craigslist.org  13900
35202      college station  https://collegestation.craigslist.org  18900
35325  dallas / fort worth          https://dallas.craigslist.org  16300

         year manufacturer           model condition    cylinders fuel  \
34915  2019.0         jeep        cherokee  like new  6 cylinders  gas
35167  2019.0      hyundai          tucson  like new  4 cylinders  gas
35199  2019.0      hyundai          tucson  like new  4 cylinders  gas
35212  2018.0         ford            edge  like new  4 cylinders  gas
35223  2018.0         ford            edge  like new  4 cylinders  gas
35143  2018.0    chevrolet      equinox lt  like new  4 cylinders  gas
35168  2018.0   mitsubishi       outlander  like new  4 cylinders  gas
35186  2018.0   mitsubishi       outlander  like new  4 cylinders  gas
35202  2017.0       toyota           rav 4  like new  4 cylinders  gas
35325  2017.0         ford  expedition xlt  like new  6 cylinders  gas

       odometer title_status transmission                VIN drive       size  \
34915   59854.0        clean    automatic  1C4PJLLX2KD145056   fwd   mid-size
35167   35205.0        clean    automatic  KM8J23A49KU956182   fwd   mid-size
35199   35205.0        clean    automatic  KM8J23A49KU956182   fwd   mid-size
35212   80193.0        clean    automatic  2FMPK3G91JBB58194   fwd   mid-size
35223   80193.0        clean    automatic  2FMPK3G91JBB58194   fwd   mid-size
35143   23000.0        clean    automatic  165FGTD8765VCT543   fwd   mid-size
35168   60150.0        clean    automatic  JA4AP3AUXJZ009928   fwd   mid-size
35186   64781.0        clean    automatic  JA4AP3AU2JZ001662   fwd   mid-size
35202   48199.0        clean    automatic  JTMZFREV0HJ700895   fwd   mid-size
35325   48900.0      rebuilt    automatic  1FMJU1HTXHEA47124   rwd  full-size

      type paint_color                                          image_url  \
34915  SUV        grey  https://images.craigslist.org/00D0D_8mWgDKdN1T...
35167  SUV        grey  https://images.craigslist.org/00p0p_9UAYhvXm7X...
35199  SUV        grey  https://images.craigslist.org/00X0X_flbq1kWm07...
35212  SUV       black  https://images.craigslist.org/00M0M_6Uhf1fyCEk...
35223  SUV       black  https://images.craigslist.org/00M0M_6Uhf1fyCEk...
35143  SUV        grey  https://images.craigslist.org/00M0M_kM5mbXef1E...
35168  SUV       black  https://images.craigslist.org/01414_e0hBdcfFuk...
35186  SUV         red  https://images.craigslist.org/00G0G_fq5ftvD6kK...
35202  SUV       white  https://images.craigslist.org/00j0j_1UAIGpY8mp...
35325  SUV       black  https://images.craigslist.org/00808_3XBw03uIMg...

                                             description state        lat  \
34915  This car was purchased new for my daughter who...    tx  35.166300
35167  2019 HYUNDAI TUCSON * COMES WITH COMFORTABLE S...    tx  30.658200
35199  2019 HYUNDAI TUCSON * COMES WITH COMFORTABLE S...    tx  30.658200
35212  2018 FORD EDGE CROSSOVER COME BY AND TAKE A LO...    tx  30.658200
35223  2018 FORD EDGE CROSSOVER COME BY AND TAKE A LO...    tx  30.658200
35143  2018 CHEVROLET EQUINOX LT FRONT WHEEL DRIVE 1....    tx  25.926377
35168  *2018 **MITSUBISHI OUTLANDER SPORT** SUPER NIC...    tx  30.658200
35186  INTRODUCING THIS BEAUTIFUL 2018 MITSUBISHI OUT...    tx  30.652884
35202  *2017 TOYOTA RAVA4 * GREAT FUEL-ECONOMY SUV , ...    tx  30.658200
35325  2017 BLACK FORD EXPEDITION ON BLACK LEATHER IN...    tx  32.739257

             long              posting_date
34915 -101.886800  2020-11-12T21:00:23-0600
35167  -96.335100  2020-12-01T13:57:23-0600
35199  -96.335100  2020-11-19T15:33:54-0600
35212  -96.335100  2020-11-17T17:12:18-0600
35223  -96.335100  2020-11-05T16:56:34-0600
35143  -97.520914  2020-11-12T12:07:30-0600
35168  -96.335100  2020-12-01T12:34:45-0600
35186  -96.335851  2020-11-24T16:31:04-0600
35202  -96.335100  2020-11-19T14:12:06-0600
35325  -97.117521  2020-12-02T10:43:10-0600

In [33]:
import pandas as pd
d = {'type': Search1, 'budget': Search2}
udf = pd.DataFrame(data=d)
udf
udf.to_csv(r'Data/vn5.csv', index = False)

In [2]:
import pandas as pd
pd.set_option('display.max_rows', None)
u2df = pd.read_csv("data/vn5.csv")
ports = pd.get_dummies(u2df.type, prefix='type')
u2df = u2df.join(ports)
u2df.drop(['type'], axis=1, inplace=True)
u2df

,budget,type_SUV,type_convertible,type_coupe,type_hatchback,type_mini-van,type_pickup,type_sUV,type_sedan,type_truck,type_van,type_wagon
0,15000,1,0,0,0,0,0,0,0,0,0,0
1,18000,0,0,0,0,0,0,0,1,0,0,0
2,17500,0,0,0,0,0,0,0,0,1,0,0
3,12000,0,0,0,0,0,1,0,0,0,0,0
4,6000,0,0,0,0,0,0,0,1,0,0,0
5,22000,0,0,0,0,0,0,0,0,1,0,0
6,5900,0,0,0,0,0,0,0,0,0,1,0
7,10000,0,0,0,0,1,0,0,0,0,0,0
8,8000,0,0,0,0,0,0,0,0,0,0,1
9,20000,0,1,0,0,0,0,0,0,0,0,0
10,7000,0,0,0,1,0,0,0,0,0,0,0
11,17000,0,0,1,0,0,0,0,0,0,0,0
12,16000,0,0,0,0,0,0,0,1,0,0,0
13,10000,0,0,0,0,0,0,0,1,0,0,0
14,15000,0,0,0,0,0,0,0,0,1,0,0
15,20000,0,0,0,1,0,0,0,0,0,0,0
16,14000,0,0,0,0,0,0,0,1,0,0,0
17,23000,1,0,0,0,0,0,0,0,0,0,0
18,19000,0,0,0,0,0,0,0,0,1,0,0
19,21000,1,0,0,0,0,0,0,0,0,0,0
20,18000,0,0,0,0,0,0,0,1,0,0,0
21,19000,0,0,0,0,0,0,0,0,1,0,0
22,15000,0,0,0,0,0,0,0,1,0,0,0
23,14000,1,0,0,0,0,0,0,0,0,0,0
24,17000,1,0,0,0,0,0,0,0,0,0,0
25,15000,1,0,0,0,0,0,0,0,0,0,0
26,17000,0,0,0,0,0,0,0,1,0,0,0
27,17000,0,0,0,0,0,0,0,1,0,0,0
28,21000,1,0,0,0,0,0,0,0,0,0,0
29,19500,1,0,0,0,0,0,0,0,0,0,0
30,18000,1,0,0,0,0,0,0,0,0,0,0
31,18500,1,0,0,0,0,0,0,0,0,0,0
32,22000,0,0,0,0,0,0,0,0,1,0,0
33,20500,1,0,0,0,0,0,0,0,0,0,0
34,15000,1,0,0,0,0,0,0,0,0,0,0
35,19000,1,0,0,0,0,0,0,0,0,0,0
36,15000,0,0,0,0,0,0,0,0,1,0,0
37,17000,0,0,0,0,0,0,0,0,1,0,0
38,19000,1,0,0,0,0,0,0,0,0,0,0
39,14500,0,0,0,0,0,0,1,0,0,0,0
40,16000,1,0,0,0,0,0,0,0,0,0,0
41,20000,1,0,0,0,0,0,0,0,0,0,0
42,19000,1,0,0,0,0,0,0,0,0,0,0
43,17000,1,0,0,0,0,0,0,0,0,0,0
44,21000,1,0,0,0,0,0,0,0,0,0,0
45,20000,1,0,0,0,0,0,0,0,0,0,0

In [4]:
from scipy.spatial import distance
out = 'NULL'
ndf = pd.read_csv("data/vn.csv")
mink_dist1 = distance.minkowski(u2df['budget'].astype(float),u2df['type_SUV'].astype(float),p=10)
mink_dist2 = distance.minkowski(u2df['budget'].astype(float),u2df['type_convertible'].astype(float),p=10)
mink_dist3 = distance.minkowski(u2df['budget'].astype(float),u2df['type_coupe'].astype(float),p=10)
mink_dist4 = distance.minkowski(u2df['budget'].astype(float),u2df['type_hatchback'].astype(float),p=10)
mink_dist5 = distance.minkowski(u2df['budget'].astype(float),u2df['type_mini-van'].astype(float),p=10)
mink_dist6 = distance.minkowski(u2df['budget'].astype(float),u2df['type_pickup'].astype(float),p=10)
mink_dist7 = distance.minkowski(u2df['budget'].astype(float),u2df['type_sedan'].astype(float),p=10)
mink_dist8 = distance.minkowski(u2df['budget'].astype(float),u2df['type_truck'].astype(float),p=10)
mink_dist9 = distance.minkowski(u2df['budget'].astype(float),u2df['type_van'].astype(float),p=10)
mink_dist10 = distance.minkowski(u2df['budget'].astype(float),u2df['type_wagon'].astype(float),p=10)
smol = min(mink_dist1,mink_dist2,mink_dist3,mink_dist4,mink_dist5,mink_dist6,mink_dist7,mink_dist8,mink_dist9,mink_dist10)
if smol == mink_dist1:
 new_df = ndf[ndf['type'].str.contains('SUV', na=False)]
 out = 'type_SUV'
 out1 = 'SUV'
elif smol == mink_dist2:
 new_df = ndf[ndf['type'].str.contains('convertible', na=False)]
 out = 'type_convertible'
 out1 = 'convertible'
elif smol == mink_dist3:
 new_df = ndf[ndf['type'].str.contains('coupe', na=False)]
 out = 'type_coupe'
 out1 = 'coupe'
elif smol == mink_dist4:
 new_df = ndf[ndf['type'].str.contains('hatchback', na=False)]
 out = 'type_hatchback'
 out1 = 'hatchback'
elif smol == mink_dist5:
 new_df = ndf[ndf['type'].str.contains('mini-van', na=False)]
 out = 'type_mini-van'
 out1 = 'mini-van'
elif smol == mink_dist6:
 new_df = ndf[ndf['type'].str.contains('pickup', na=False)]
 out = 'type_pickup'
 out1 = 'pickup'
elif smol == mink_dist7:
 new_df = ndf[ndf['type'].str.contains('sedan', na=False)]
 out = 'type_sedan'
 out1 = 'sedan'
elif smol == mink_dist8:
 new_df = ndf[ndf['type'].str.contains('truck', na=False)]
 out = 'type_truck'
 out1 = 'truck'
elif smol == mink_dist9:
 new_df = ndf[ndf['type'].str.contains('van', na=False)]
 out = 'type_van'
 out1 = 'van'
elif smol == mink_dist10:
 new_df = ndf[ndf['type'].str.contains('wagon', na=False)]
 out = 'type_wagon'
 out1 = 'wagon'
"""print(mink_dist1)
print(mink_dist2)
print(mink_dist3)
print(mink_dist4)
print(mink_dist5)
print(mink_dist6)
print(mink_dist7)
print(mink_dist8)
print(mink_dist9)
print(mink_dist10)"""
if (Pref == 'yes' or 'Yes' or 'y' or 'yea' or 'Y'):
 new_df = new_df[new_df.year >= 2016.0]
elif (Pref == 'no' or 'No' or 'n' or 'nah' or 'N'):
 new_df = new_df[new_df.year < 2016.0]

new_df = new_df[new_df.price < Search2]
new_df = new_df[new_df['state'].str.contains(Search3, na=False)]
new_df = new_df[new_df['condition'].str.contains('like new', na=False)]
new_df = new_df.sort_values(['year', 'price'],ascending=False)
print("")
print("Hot Sale!")
print("")
print(new_df.head(10))

Hot Sale!

               id                                                url  \
24135  7233191730  https://cnj.craigslist.org/ctd/d/south-amboy-2...
24562  7235969100  https://newjersey.craigslist.org/ctd/d/little-...
24133  7233192093  https://cnj.craigslist.org/ctd/d/south-amboy-2...
24132  7233192289  https://cnj.craigslist.org/ctd/d/south-amboy-2...
24240  7239827445  https://jerseyshore.craigslist.org/cto/d/port-...
24128  7233193097  https://cnj.craigslist.org/ctd/d/south-amboy-2...
24022  7236446150  https://cnj.craigslist.org/cto/d/pittstown-201...
24308  7240560656  https://newjersey.craigslist.org/cto/d/lodi-20...
24466  7237309063  https://newjersey.craigslist.org/cto/d/roselle...
24568  7235917359  https://newjersey.craigslist.org/ctd/d/garfiel...

             region                          region_url  price    year  \
24135    central NJ          https://cnj.craigslist.org  16995  2018.0
24562  north jersey    https://newjersey.craigslist.org  13877  2018.0
24133    central NJ          https://cnj.craigslist.org  13995  2017.0
24132    central NJ          https://cnj.craigslist.org  13495  2017.0
24240  jersey shore  https://jerseyshore.craigslist.org  15999  2016.0
24128    central NJ          https://cnj.craigslist.org  15495  2016.0
24022    central NJ          https://cnj.craigslist.org  14000  2016.0
24308  north jersey    https://newjersey.craigslist.org  10000  2016.0
24466  north jersey    https://newjersey.craigslist.org   9000  2016.0
24568  north jersey    https://newjersey.craigslist.org      0  2016.0

      manufacturer               model condition    cylinders fuel  odometer  \
24135    chevrolet             equinox  like new  4 cylinders  gas   61189.0
24562         ford           escape se  like new  4 cylinders  gas   95840.0
24133         ford              escape  like new  4 cylinders  gas   78695.0
24132         ford              escape  like new  4 cylinders  gas   94432.0
24240      hyundai     tucson platinum  like new  4 cylinders  gas   87000.0
24128    chevrolet             equinox  like new  4 cylinders  gas   41861.0
24022        mazda  cx-5 grand touring  like new  4 cylinders  gas   95300.0
24308    chevrolet             trax lt  like new  4 cylinders  gas   85889.0
24466         ford           escape se  like new  4 cylinders  gas  126500.0
24568         jeep             patriot  like new  4 cylinders  gas  144196.0

      title_status transmission                VIN drive       size type  \
24135        clean    automatic  2GNAXSEV5J6285925   4wd  full-size  SUV
24562        clean    automatic  1FMCU9GD5JUD12738   4wd   mid-size  SUV
24133        clean    automatic  1FMCU9GD3HUC03009   4wd  full-size  SUV
24132        clean    automatic  1FMCU9GD0HUD43261   4wd  full-size  SUV
24240        clean    automatic  KM8J3CA28GU184809   4wd   mid-size  SUV
24128        clean    automatic  2GNALCEK4G1137178   fwd  full-size  SUV
24022        clean    automatic  JM3KE4DY3G0703739   fwd  full-size  SUV
24308        clean    automatic  3GNCJPSBXGL277051   4wd    compact  SUV
24466        clean    automatic  1FMCU9GX6GUA80458   4wd   mid-size  SUV
24568        clean    automatic  1C4NJRBB3GD580126   4wd  full-size  SUV

      paint_color                                          image_url  \
24135      custom  https://images.craigslist.org/00E0E_8jNV45O8Yj...
24562       white  https://images.craigslist.org/00202_l808xTU4W1...
24133       white  https://images.craigslist.org/00E0E_7pljEsvIdg...
24132        blue  https://images.craigslist.org/00B0B_czSd5kxlMW...
24240      orange  https://images.craigslist.org/00H0H_4RF6ijxwuI...
24128        blue  https://images.craigslist.org/01515_fSBbE2VE3v...
24022      silver  https://images.craigslist.org/00b0b_7yuDS9g0KK...
24308         red  https://images.craigslist.org/00M0M_ijIsLyocYx...
24466         red  https://images.craigslist.org/00X0X_454sNfMexj...
24568       black  https://images.craigslist.org/00T0T_loUrj0Rfdw...

                                             description state        lat  \
24135  2018 Chevrolet Equinox LT AWD - $16,995  Year:...    nj  40.463961
24562  ONE OWNER!!! CLEAN CAR FAX!!! ECO BOOST MOTOR!...    nj  40.849300
24133  2017 Ford Escape SE 4WD - $13,995  Year: 2017 ...    nj  40.463961
24132  2017 Ford Escape SE 4WD - $13,495  Year: 2017 ...    nj  40.463961
24240  2016 Hyundai Tucson Platinum Edition, Low Mile...    nj  40.428900
24128  2016 Chevrolet Equinox LT 2WD - $15,495  Year:...    nj  40.463961
24022  1 OWNER, WELL MAINTAINED and DRIVEN with CARE ...    nj  40.599200
24308  This 2016 Chevrolet Trax ranks high in the sub...    nj  40.876400
24466  FORD Escape SE Ecoboost 4wd 2016 $9,000.00 run...    nj  40.653000
24568  Here at Buy Rite Auto Mall, our goal is to mee...    nj  40.869536

            long              posting_date
24135 -74.262957  2020-11-18T15:05:46-0500
24562 -74.040500  2020-11-23T16:42:42-0500
24133 -74.262957  2020-11-18T15:06:20-0500
24132 -74.262957  2020-11-18T15:06:39-0500
24240 -74.108300  2020-12-01T10:13:52-0500
24128 -74.262957  2020-11-18T15:07:55-0500
24022 -74.957600  2020-11-24T14:49:00-0500
24308 -74.083800  2020-12-02T14:01:12-0500
24466 -74.261000  2020-11-26T11:34:38-0500
24568 -74.112212  2020-11-23T15:23:24-0500

In [ ]:
from scipy.spatial.distance import cosine
from pandas import DataFrame
print(1 - cosine(u2df[Search1], u2df[out]))